header {
  text-align: unset;
  padding: 10px 0 0 0;
  margin: 10px 0 0 0;
}

nav {
  width: auto;
  float: right;
  margin-top: 4px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

h1, h2, h3 {
  line-height: 1.8;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.25em;
  font-weight: 700;
}

h4 {
  font-size: 1.0em;
  font-weight: 700;
  margin-bottom: -12px;
  line-height: 1.2em;
}

img {
  width: 100%;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: #ffffff;
  font-weight: 400;
  padding: 3px 6px 3px 6px;
  border-radius: 3px;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8;
}

.button:hover, .button:focus {
  display: inline-block;
  background-color: #ff7f50;
  color: #ffffff;
  font-weight: 400;
  padding: 3px 6px 3px 6px;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.2s opacity;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover, .button.contact:focus {
  background-color: #ff7f50;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration-line: none;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.row-centered {
  margin: 25px 0;
  text-align: center;
}

.logo {
  max-width: 250px;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero {
  padding: 20px 0;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #c2f9f4;
}

nav>ul {
  margin: 1em 0;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive nav {
  text-align: right;
}

.navtoggle.responsive li {
  display: block;
  padding: 2px 0;
}

.navtoggle.responsive li:last-child {
  display: none;
}

ul>li {
  margin-left: -20px;
  padding: 0;
}

main {
  padding-top: 56px;
}

* {
  box-sizing: border-box;
}

/* animation */
@keyframes scoop-move {
  from {
    transform: translate(0px, -150px);
  }

  to {
    transform: translate(0px, 0px);
  }
}

.scoop {
  animation-duration: 0.5s;
  animation-name: scoop-move;
  animation-timing-function: linear;
}

/* Nagivation Animation

nav {
	margin: 27px auto 0;
	position: relative;
	width: 310px;
	height: 50px;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: black;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}

a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #5fd2cd;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #5fd2cd;
}
nav .start-contact, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #5fd2cd;
}*/
/* ==============================
Small devices (374px and larger)
================================= */
@media only screen and (min-width: 374px max-width: 799px) {
  .navtoggle, .navtoggle.responsive {
    position: relative;
  }

  .navtoggle li .icon {
    position: absolute;
    font-size: 20px;
  }

  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }

  .navtoggle.responsive li {
    display: block;
  }

  .navtoggle li:first-child, li:last-child {
    display: none;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle.responsive li:last-child {
    padding: 0 0 10px;
  }

  .navtoggle li:first-child {
    display: none;
  }

  .nav li:last-child {
    display: none;
  }
}

/* ==============================
Medium devices (800px and larger)
================================= */
@media only screen and (min-width: 800px) {
  .navtoggle li:first-child {
    display: none;
  }

  .nav li:last-child {
    display: none;
  }

  .col-md-12 {
    width: 99%;
    margin-left: 1%;
  }

  .col-md-6 {
    width: 49%;
    margin-left: 1%;
  }

  .col-md-3 {
    width: 32%;
    margin-left: 1%;
  }

  .col-md-4 {
    width: 24%;
    margin-left: 1%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
}

/* ==============================
Large devices (1080px or larger)
================================= */
@media only screen and (min-width: 1080px) {
  .col-lg-3 {
    width: 24%;
    margin-left: 1%;
  }

  .col-lg-9 {
    width: 49%;
    margin-left: 1%;
  }

  .col-lg-l {
    width: 59%;
    margin-left: 1%;
  }

  .col-lg-r {
    width: 39%;
    margin-left: 1%;
  }

  .col-lg-9 {
    width: 69%;
    margin-left: 1%;
  }
}
